<div class="container-fluid" style="height: 100vh;">

    <div class="row">
        <div class="col-6 p-0 m-0" style="height: 100vh;">
            <div class="back-img">
                <div class="front-img">
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center mt-3">Welcome</h1>
    
            <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
                <div class="" style="border-radius:10px; width: 72%">
    
                    <form [formGroup]="loginform" (submit)="saveForm()" class="p-4 border rounded bg-light shadow-lg">
    
                        <h2 class="mb-3">Login</h2>
                        <div class="mb-3">
                            <label for="email" class="form-label">Enter your email address</label>
                            <input type="email" class="form-control" minLength="3" formControlName="email" id="email"
                                placeholder="Enter Email">
                            <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                                <small class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is
                                    required</small>
                                <small class="text-danger" *ngIf="getControl('email')?.errors?.['email']">Invalid
                                    Email</small>
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="password" class="form-label">Enter your password</label>
                            <div class="pass" >
                                <input type="password" class="form-control " formControlName="password" id="password"
                                placeholder="Password" [type]="showPassword ? 'text' : 'password'" >
                                <span class="password-toggle-icon position-absolute" (click)="togglePasswordVisibility()">
                                    <i class="fas fa-eye" *ngIf="!showPassword"></i>
                                    <i class="fas fa-eye-slash" *ngIf="showPassword"></i>
                                </span>
                            </div>
                            <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
                                <small class="text-danger" *ngIf="getControl('password')?.errors?.['required']">Password is required.
                                 </small>
                                <!-- <small class="text-danger" *ngIf="getControl('password')?.errors?.['pattern']">Password should have atleast one Uppercase, one lowercase, one
                                    special character and a digit and should be 8 characters long</small> -->
                            </div>
    
                        </div>
                      
                        <button class="mb-5" type="submit" class="btn btn-primary w-100">Login
                            </button>


                            <div class="m-3">
                             
                            <!-- <button class="m-5" type="submit" class="btn btn-light w-100">Continue with Google 
                            </button> -->
                            <button id="googleBtn" class="btn btn-light w-100">Continue with Google</button>
 
                            <button class="m-5" type="submit" class="btn btn-light w-100">Continue with Facebook 
                            </button>
                        </div>
                            <div class="mt-3">
                           <a routerLink="/register" >Forgot Password?</a> 
                        </div>
                    </form>
                </div>
    
            </div>
    
    
        </div>
    </div>
</div>
